.FileExplorer {
  --filexplorer-bgcolor: #2f2f2f;
  padding: 18px;
  background-color: var(--filexplorer-bgcolor);
}

.FileExplorerEmpty {
  padding: 18px;
  text-align: center;
}

.FileExplorerItem {
  padding: 8px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.FileExplorerItem:hover {
  background-color: #3f3f3f;
}

.SelectedItem {
  background-color: #1c1c1c;
}

.FileExplorerName {
  flex-grow: 2;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 4px;
}

.FileExplorerSize {
  font-family: sans-serif;
  font-size: 12px;
}

.ChildItem {
  margin-left: 8px;
}
